.display-container{
	width:400px;
	height:100px;
	border:1px solid #666;
	background:#333;
	color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	box-shadow:0 0 5px 3px #ccc;
    font-size:18px;
	}
	body{
		background:grey;
		color:white;
	}